# A Git Extension Making it Easier to Build R from Source

## Installation

The `git-r` script is distributed under GPL (>= 2.1) and the source code is
available at https://github.com/HenrikBengtsson/git-r/.  To "install" it,
just do:

```sh
$ curl -O https://raw.githubusercontent.com/HenrikBengtsson/git-r/master/bin/git-r
$ chmod ugo+x git-r
```

If you add it to the `PATH`, then the `git` command will automatically find it and you can call it as:

```sh
$ git r ...
```



## Full command-line help
```
{{ HELP }}
```


## Required software

* Git
* Bash
* Compilers etc. required to build R from source
